<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Start Coding Reset Password</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="css/forgotPassword.css">
</head>

<body>

  <div class="container">
    <div id="resetForm">
      <div class="omb_login">
        <h3 class="omb_authTitle"> Reset your password.</h3>
        <div class="row omb_row-sm-offset-3">
          <div class="col-xs-12 col-sm-6">
            <form class="omb_loginForm" action="" autocomplete="off" method="POST" id="resetForm">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input id="emailInput" type="text" class="form-control" name="username" placeholder="email address">
              </div>
              <br>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
            </form>
          </div>
        </div>
      </div>
      <br>
      <div class="row omb_row-sm-offset-3">
        <div id="alertSucess" class="alert alert-success" role="alert">We have sent a reset link to your email provied.</div>
        <br>
        <div id="alertWarning" class="alert alert-danger" role="alert"></div>
        <br>
        <div id="alertFucked" class="alert alert-warning" role="alert">Unable to send email, call for help.</div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/forgotPassword.js">
  </script>
</body>

</html>
