<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <meta name="theme-color" content="#1B5E20">
  <link rel="manifest" href="./manifest.json">
  <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico?">
  <link rel="icon" sizes="192x173" href="./logo.png">
  <link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.min.css">
  <title>Start Coding!</title>
</head>
<body>
  <div id="React"></div>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
  <script src="bundle.js"></script>
</body>
</html>
